<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lista de Autores</title>
</head>
<body>
    <h3>Autores Cadastrados</h3>
    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>Nome</th>
                <th>Ações</th>
            </tr>
        </thead>
        <tbody>
        {{range .Authors}}
            <tr>
                <td>{{.ID}}</td>
                <td>{{.Name}}</td>
                <td>
                    <a href="/authors/{{.ID}}/edit">Editar</a>
                    <button class="btn-rm" data-id="{{.ID}}">Remover</button>
                </td>
            </tr>
        {{else}}
            <tr>
                <td colspan="3">Nenhum autor encontrado</td>
            </tr>
        {{end}}
        </tbody>
    </table>
    <hr>
    <a href="/authors/new">Novo Autor</a>
    <script>
        async function handleClickDeleteAuthor() {
            const id = this.dataset.id;
            try {
                const response = await fetch(`/authors/${id}`, { method:"DELETE" });
                if (response.ok) {
                    alert(await response.text());
                    window.location.reload()
                } else {
                    alert(await response.text())
                }
            }  catch (error) {
                alert(error.message);
            }
        }
        (() => {
            document
            .querySelectorAll(".btn-rm")
            .forEach(button => {
                button.addEventListener("click", handleClickDeleteAuthor);
            });
        })();
    </script>
</body>
</html>
