<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lista de Autores</title>
</head>
<body>
    <h3>Autores Cadastrados</h3>
    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>Nome</th>
                <th>Ações</th>
            </tr>
        </thead>
        <tbody>
        {{range .Authors}}
            <tr>
                <td class="idAuthor">{{.ID}}</td>
                <td>{{.Name}}</td>
                <td>
                    <a href="/authors/{{.ID}}/edit">Editar</a>
                    <button class="btnRm" data-id="{{.ID}}">Remover</button>
                </td>
            </tr>
            {{else}}
            <tr>
                <td colspan="3">Nenhum autor encontrado</td>
            </tr>
            {{end}}
        </tbody>
    </table>
    <hr>
    <a href="/authors/new">Novo Autor</a>
    <script>
        function Teste() {
            const eventButtonClick = document.querySelectorAll(".btnRm");

            eventButtonClick.forEach(button => {
                button.addEventListener("click", function () {
                    const id = this.dataset.id;
                    alert(`Botão clicado » ID: ${id}`);
                    fetch(`/authors/${id}`, {
                        method:"DELETE"
                    })
                    .then(response => {
                        if (response.ok) {
                            alert("Autor removido com sucesso");
                            window.location.reload();
                        } else {
                            alert("Não é possivel remover autor com livro(s)");
                        }
                    });
            });
        });
        console.log(eventButtonClick);
        }
        Teste()
    </script>
</body>
</html>
