<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lista de Autores</title>
</head>
<body>
    <h3>Autores Cadastrados</h3>

    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>Nome</th>
                <th>Ações</th>
            </tr>
        </thead>
        <tbody>

                {{range .Authors}}
                <tr>
                    <td>{{.ID}}</td>
                    <td>{{.Name}}</td>
                    <td>
                        <a href="/authors/{{.ID}}/edit">Editar</a>
                    </td>
                </tr>
            {{else}}
                <tr>
                    <td colspan="3">Nenhum autor encontrado</td>
                </tr>
            {{end}}
        </tbody>
    </table>
    <hr>
            <a href="/authors/new">Novo Autor</a>
</body>
</html>
